/*=== Layout ===*/	

html, body{
	height: 100%;
}

body{
	margin: 0;
	background: url('../imagens/padrao-02.svg');
	background-size: 110px;
	background-repeat: repeat;
	background-color: #e40000;
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
}

/*=== Logo ===*/	

#logo{
	width: 140px;
	margin: 10px auto;
}

h2#titulo{
	text-align: center;
	color: white;
	padding-bottom: 25px;
}

/*=== Botões ===*/


.kbtn{
	border-radius: 25px;
	padding: 13px;
	border: none;
	margin-bottom: 14px; 
	background-color: white;
	text-align: center;
	font-size: 16px;
	display: block;
}

a.kbtn{
	text-decoration: none;
	font-size: 16px;
}

a:link.kbtn{
	color: #ce4242;
}

a:visited.kbtn{
	color: #ce6363;
}

a:active.kbtn{
	color:#ce6363;
}

a:hover.kbtn{
	color: #e40000;
}

.lista{
	justify-content: center;
}

/*=== Footer ===*/

footer{
	margin: 150px 0px 20px 0px;
	text-align: center;	
	color: white;

}

footer a, footer a:hover{
	color: white;
	text-decoration: none;
}
